/* .note__container {
 
  border-radius: 5px;
  display: block;
  background-color: hsl(229,
      100%, 99.7%);
  border: 1px solid hsl(300, 100%, 10%);
 

} */

/*? nuevo diseño */
.note__container {

  border-radius: 5px;
  display: block;
  background-color: hsl(229, 100%, 99.7%);
  border: 2px solid hsl(204, 64%, 71%);

  box-shadow: hsl(221, 47%, 32%) 6px 6px 0px 0px;

}

.note__body {
  margin-bottom: 1.5rem;
  max-height: 300px;
  overflow-y: hidden;
  transition: overflow-y .2s;
  padding-right: 0.5rem;
  margin-right: 0.7rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
}

.note__body--edit:focus {
  outline: 0;
}

.note__container:hover .note__body {
  overflow-y: auto;
  transition: overflow-y .2s
}

/* .note__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
    border-bottom: 1px solid hsl(204, 64%, 71%);
} */

/*? nuevo diseño */
.note__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: hsla(204, 94%, 51%, 0.156);
}

.note__overflow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  color: gray;
  right: 0px;
  top: -40px;
  font-size: 1.5rem;
  height: 0;
  opacity: 100%;
  padding-left: 1rem;
}

.note__title {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}


.note__input-title {
  margin-top: 0.2rem;
  margin-bottom: 0rem;
  margin-left: 1rem;
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  border: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.note__input-title:focus {
  outline: 0;
  border-bottom: 1px solid gray;
}

.note-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.note-toolbar__icon {
  color: gray;
  border-color: gray;
  font-size: 1.2rem;
  padding: 5px;
  opacity: 0;
  transition: opacity .3s
}

.note__header__toolbar {
  display: flex;
  width: 82px;
  margin: 0.3rem;
}

.note__header__toolbar-icon {

  padding: 5px;
  color: hsl(0, 0%, 30%);
  border-color: gray;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 98%);
  transition: opacity .3s;


}

.note__header__toolbar-icon:hover {
  color: rgb(27, 27, 27);
  border-color: black !important;
  background-color: rgb(233, 232, 232);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.note-toolbar__icon--highlight {
  color: rgb(0, 0, 0);
  border-color: gray;
  font-size: 1.2rem;
  padding: 5px;
  transition: opacity .3s
}


/* muestra los iconos de la toolbar cuando el mouse está sobre la nota */
.note__container:hover .note-toolbar__icon {
  opacity: 100;
  transition: opacity .2s
}

.note-toolbar__icon:hover {
  color: rgb(27, 27, 27);
  border-color: black !important;
  background-color: rgb(233, 232, 232);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;

}

.note__container:hover .note__overflow {
  opacity: 0;
}

.new-note__body {
  outline-style: none;
  border: 0px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0px;
  overflow-Y: scroll;
  min-height: 100px;
  max-height: 50vh;
}

.new-note__background {
  position: fixed;
  top: 0;
  left: 0;
  z-Index: 50;
  width: 100vw;
  height: 100vh;
  background-Color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  max-width: 80vw;
  position: relative;
  margin: auto;
  top: 100px;
  margin-top: 1rem;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
}

.sb1::-webkit-scrollbar {
  width: 10px;
}

.sb1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(231, 231, 231, 0.2);
  border: 1px solid #cacaca;
}

.sb1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);

}