.app__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.app_main-grid {
  display: grid;
  grid-template-rows: "1fr";
}

.app__sticky-navbar {
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: hsl(0, 0%, 99%);
  opacity: 95%;
  font-family: "Roboto Serif", serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(0, 0, 54);
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.top-toolbar-wrapper {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 99;
  top: 0rem;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 0px 0px 3px 0px var(--celeste2);
  border-top: 1px solid var(--celeste2);
  border-bottom: 1px solid var(--celeste2);
  padding: 0.2rem;
}

.top-nombre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem;
  text-wrap: nowrap;
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  font-weight: 700;
}

.top-toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1rem;
  z-index: 99;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 99%);

}

.top-toolbar__search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top-toolbar__new {
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.toolbar__icon {
  background-color: #101052;
  color: white;
  border-color: gray;
  font-size: 1.2rem;
  padding: 5px;
  transition: opacity 0.3s;
  border-radius: 50%;
  min-width: 2rem;
  stroke: white;
  stroke-width: 2px;
}

.toolbar__icon:hover {
  outline: 2px solid hsl(204, 100%, 50%);
  cursor: pointer;
}

.toolbar__button {
  border: 0px;
  font-size: 0.8rem;
  color: black;
  background-color: transparent;
  padding: 0.2rem;
  margin-right: 0.3rem;
}

.toolbar__button:hover {
  cursor: pointer;

}

.toolbar__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offline_warning {
  border: 1px solid rgb(151, 28, 28);
  color: rgb(151, 28, 28);
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  font-size: 0.8rem;
}




@media only screen and (max-width: 734px) {

  /* hace que se ajuste el ancho para que
  la toolbar quede centrada */
  .top-toolbar__search {
    width: min-content;
  }

  .app__sticky-navbar {
    display: none;
  }

}