.app__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

.app_main-grid {
  display: grid;
  grid-template-rows: "1fr";
}

.app__sticky-navbar {
  position: sticky;
  z-index: 99;
  top: 0;
  padding: 10px;
  background-color: hsl(0, 0%, 99%);
  border-bottom: 1px solid hsl(0, 0%, 50%);
  opacity: 95%;
  font-family: "Roboto Serif", serif;
  font-size: 1.2rem;
  font-weight: 700;

}

.top-toolbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  gap: 1rem;
  z-index: 99;
  top: 0;
  padding: 10px;
  background-color: hsl(0, 0%, 99%);
  border-bottom: 1px solid hsl(0, 0%, 50%);
  box-shadow: gray 0px 0px 3px 0px;


}

.top-toolbar__search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.top-toolbar__new {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 550px) {


  /* hace que se ajuste el ancho para que
  la toolbar quede centrada */
  .top-toolbar__search {
    width: min-content;
  }

  .app__sticky-navbar {
    display: none;
  }

}