:root {
  --celeste: #00a1d3;
  --violeta: #a92da3;
  --naranja: #fd4d2e;
  --verde: #769f52;
  --rosa: #ff68a8;
  --amarillo: #f8ca38;


  --amarillo2: #FEC763;
  --rosa2: #EA55B1;
  --lila: #A992FA;
  --azul: #00207F;

  --linkNuevo: hsl(225, 80%, 45%);
  --linkVisitado: hsl(225, 100%, 35%);
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  min-width: 400px;

}

body {
  font-family: 'Roboto', Serif;
  /* Antes tenía Roboto mono */
  font-weight: 400;
  line-height: 1.5rem;
}


a:visited {
  color: var(--linkVisitado)
}

a {
  color: var(--linkNuevo);
}

main {
  margin: 0rem 0.5rem;
  max-width: 700px;
}

header,
footer {
  min-width: 100%;
}



footer {
  font-family: "Roboto mono", mono;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-top: 2rem;
  border-top: 1px dashed var(--amarillo2);
  display: grid;
  justify-content: center;
}

h2 {
  font-family: "Karma", serif;
  font-size: 1.6rem !important;
  line-height: 1.5rem !important;
}


.note_input_container:hover {
  outline-style: solid;
  outline-color: gray;
  outline-width: 2px;
}

.note_input_container {
  border: 0px solid gray;
  border-radius: 5px;
  outline-style: solid;
  outline-color: gray;
  outline-width: 1px;
}

.note_editable {
  outline-style: none;
  border: 0px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0px;
  overflow-Y: scroll;

}

.note_editable_title {
  outline-style: none;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
 }


@media only screen and (max-width: 750px) {

  main,
  header {
    max-width: 600px;
  }


}

@media only screen and (max-width: 650px) {

  html,
  body {
    font-size: 15px;
  }

  main,
  header {
    max-width: 500px;
  }

}

@media only screen and (max-width: 550px) {

  html,
  body {
    font-size: 15px;
  }

  main,
  header {
    max-width: 380px;
  }


}