:root {
  --celeste: #00a1d3;
  --violeta: #a92da3;
  --naranja: #fd4d2e;
  --verde: #769f52;
  --rosa: #ff68a8;
  --amarillo: #f8ca38;


  --amarillo2: #FEC763;
  --rosa2: #EA55B1;
  --lila: #A992FA;
  --azul: #00207F;

  --linkNuevo: hsl(225, 80%, 45%);
  --linkVisitado: hsl(225, 100%, 35%);
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  min-width: 400px;

}

body {
  font-family: 'Roboto', Serif;
  /* Antes tenía Roboto mono */
  font-weight: 400;
  line-height: 1.5rem;
}


a:visited {
  color: var(--linkVisitado)
}

a {
  color: var(--linkNuevo);
}

main {
  margin: 0rem 0.5rem;
  max-width: 700px;
}

header,
footer {
  min-width: 100%;
}



footer {
  font-family: "Roboto mono", mono;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-top: 2rem;
  border-top: 1px dashed var(--amarillo2);
  display: grid;
  justify-content: center;
}

h2 {
  font-family: "Karma", serif;
  font-size: 1.6rem !important;
  line-height: 1.5rem !important;
}



.sb1::-webkit-scrollbar {
  width: 10px;
}

.sb1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(231, 231, 231, 0.2);
  border: 1px solid #cacaca;
}

.sb1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);

}


.note__container {
  border: 1px solid gray;
  max-width: 300px;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 1rem;
  display: block;

  background-color: hsla(115, 100%, 99%);

  border: 2px solid hsl(115, 100%, 17%);
  box-shadow: hsla(210, 6%, 25%, 0.3) 0px 1px 2px 0px, hsla(206, 0%, 25%, 0.15) 1px 1px 2px 0px;
  /*  box-shadow: 1px 1px 0px 0px hsl(60, 1%, 70%); */
}

.note__body {
  margin-bottom: 1.5rem;
  max-height: 300px;
  overflow-y: hidden;
  transition: overflow-y .2s;
  padding-right: 0.5rem;
}

.modal-container {
  max-width: 80vw;
  position: relative;
  margin: auto;
  margin-top: 1rem;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
}

.note__body--edit:focus {
  outline: 0;
}

.note__container:hover .note__body {
  overflow-y: auto;
  transition: overflow-y .2s
}

.note__overflow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  color: gray;
  right: 0px;
  top: -40px;
  font-size: 1.5rem;
  height: 0;
  opacity: 100%;
}

.note__container:hover .note__overflow {
  opacity: 0;
}

.note__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.note__input-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: inherit;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.note__input-title:focus {
  outline: 0;
  border-bottom: 1px solid gray;
}

.note-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.note-toolbar__icon {
  color: gray;
  border-color: gray;
  font-size: 1.2rem;
  padding: 5px;
  opacity: 0;
  transition: opacity .3s
}

.note-toolbar__expand-icon {
  color: hsl(0, 0%, 30%);
  border-color: gray;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 98%);
  transition: opacity .3s;

}

.note-toolbar__expand-icon:hover {
  color: rgb(27, 27, 27);
  border-color: black !important;
  background-color: rgb(233, 232, 232);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.note-toolbar__icon--highlight {
  color: rgb(0, 0, 0);
  border-color: gray;
  font-size: 1.2rem;
  padding: 5px;
  transition: opacity .3s
}

.note__container:hover .note-toolbar__icon {
  opacity: 100;
  transition: opacity .2s
}

.note-toolbar__icon:hover {
  color: rgb(27, 27, 27);
  border-color: black !important;
  background-color: rgb(233, 232, 232);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;

}

.new-note__background {
  position: fixed;
  top: 0;
  left: 0;
  z-Index: 50;
  width: 100vw;
  height: 100vh;
  background-Color: rgba(0, 0, 0, 0.7);
}

.new-note__container {
  border: 0px solid gray;
  border-radius: 5px;
  outline-style: solid;
  outline-color: gray;
  outline-width: 1px;

  padding: 0.4rem;
  background-color: white;
  width: 500px;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}

.new-note__container:hover {
  outline-width: 2px;
}

.new-note__body {
  outline-style: none;
  border: 0px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0px;
  overflow-Y: scroll;
  min-height: 100px;
  max-height: 50vh;
}

.new-note__title {
  outline-style: none;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  border: 0px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}




@media only screen and (max-width: 750px) {

  main,
  header {
    max-width: 600px;
  }


}

@media only screen and (max-width: 650px) {

  html,
  body {
    font-size: 15px;
  }

  main,
  header {
    max-width: 500px;
  }

}

@media only screen and (max-width: 550px) {

  html,
  body {
    font-size: 15px;
  }

  main,
  header {
    max-width: 380px;
  }


}